@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Tajawal');

h1 {
	font-family: 'Fjalla One';
	text-align: center;
	color: #000;
}

#slogan {
	font-family: 'Tajawal';
	font-style: italic;
}

body {
	font-family: 'Tajawal';
	color: #2B93FF;
}

